div{
    padding: 5px;
    margin: 5px;
}

.main{
    border:1px solid darkslategrey;
    display: flex;
    flex-direction: column;
    
}

.upperTab{
    border:1px solid darkslategrey;
    flex-grow: 5;
}

.explorer{
    border:1px solid darkslategrey;
    flex-grow:2;
}

.editor{
    border:1px solid darkslategrey;   
    flex-grow: 4;
    height:200px;
}